* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: #e0d4e9;
  color: #212121;
  line-height: 1.5;
  margin: 0;
}

.box {
  width: 100vw;
  height: 10vh;
  background-color: rgb(126, 126, 214);
  position: relative;
  margin: 0;
}

.search-box {
  font: inherit;
  padding: 5px;
  max-width: 320px;
  position: absolute;
  height: 40px;

  top: 15px;
  left: 40vw;
  /* margin: auto;
  display: flex; */
  transition: all 1s ease-out;
  border: 1px white;
  /* background-color: lightsteelblue; */
  background-color: white;
  border-radius: 5px;
}

.search-box:hover {
  background-color: lavender;
  border: 1px white;
}

.search-box:focus {
  background-color: lavender;
  outline: none;
}

.search-image {
  border-radius: 50%;
  background-color: #948bc1;
  position: absolute;
  top: 20px;
  left: 50vw;
  transition: all 1s ease-out;
}
.search-image:hover {
  box-shadow: -11px 7px 24px 0px rgba(148, 139, 193, 1);
}
